@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* Dark Theme by default */
  --background: #020617; /* Slate 950 */
  --foreground: #f8fafc; /* Slate 50 */
  
  --primary: #4f46e5; /* Indigo 600 */
  --primary-foreground: #ffffff;
  
  --secondary: #1e293b; /* Slate 800 */
  --secondary-foreground: #f8fafc;
  
  --muted: #334155; /* Slate 700 */
  --muted-foreground: #94a3b8; /* Slate 400 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
}
